<template>
  <div>
    <div class="title">地图模块</div>
    <div class="sousuo">
      <div class="sousuo_a">企业名称</div>
      <div class="sousuo_b"><input type="text" placeholder="请输入"></div>
      <button>搜索</button>
    </div>
    <div class="ditu">
      <baidu-map class="map" :center="{lng: 116.404, lat: 39.915}" :zoom="15" :scroll-wheel-zoom="true"></baidu-map>  
    </div>
     
  </div>
</template>

<script>
export default {
data(){
  return{
    keyword: ''
  }
}
}
</script>

<style lang="scss">
.map{
  width: 97%;
  height: 645px;
  margin: 0 auto;

}
.title{
  /** 文本1 */
font-size: 20px;
font-weight: 700;
letter-spacing: 0px;
line-height: 22px;
color: rgba(0, 0, 0, 1);
text-align: left;
vertical-align: top;
}
.sousuo{
  margin-top: 20px;
  margin-bottom:20px ;
  width: 100%;
height: 76px;
opacity: 1;
border-radius: 4px;
background: rgba(255, 255, 255, 1);
box-shadow: 2px 2px 10px 0px rgba(218, 224, 230, 1);
position: relative;
 .sousuo_a{
  top: 25px;
  left: 22px;
  font-size: 14px;
font-weight: 400;
letter-spacing: 0px;
line-height: 22px;
color: rgba(96, 98, 102, 1);
text-align: left;
vertical-align: top;
position: absolute;
 }
 .sousuo_b{
  position: absolute;
  top: 17px;
    left: 100px;
  width: 296px;
height: 40px;
opacity: 1;
border-radius: 4px;
background: rgba(255, 255, 255, 1);

border: 1px solid rgba(228, 231, 237, 1); 
input{
margin: 7px 0;
width: 272px;
height: 22px;
opacity: 1;
/** 文本1 */
font-size: 14px;
font-weight: 400;
letter-spacing: 0px;
line-height: 22px;
color: rgba(96, 98, 102, 1);
text-align: left;
vertical-align: top;
border: 0;
outline: none;
}
 }
 button{
  position: absolute;
  left: 436px;
    top: 18px;
width: 72px;
height: 40px;
opacity: 1;
border-radius: 4px;
background: rgba(9, 109, 217, 1);
border:0 ;
color: #fff;
 }
}
.ditu{
  width: 100%;
  height: 700px;
  /* border: 1px solid; */
  background-color: #fff;
  box-shadow: 2px 2px 10px 0px rgba(218, 224, 230, 1);
}

</style>