<template>
   <div class="home">
      <p>首页数据展示</p>
      <div class="navsj">  
       
        <div class="nav_c">
         <div class="nav_c_z">
            <div class="nav_c_c">
               <div>数据分析</div>
                <div class="nav_c_b">
                  <div>
                     <li>
                        <span><i class="el-icon-s-grid"></i></span>
                        <span>项目标题</span>
                        <p>182</p>
                     </li>
                     <li>
                        <span><i class="el-icon-camera"></i></span>
                        <span>项目标题</span>
                        <p>7132</p>
                     </li>
                     <li>
                        <span><i class="el-icon-video-play"></i></span>
                        <span>项目标题</span>
                        <p>29308</p>
                     </li>
                  </div>
                  <div>
                    <i class="el-icon-copy-document"></i>
                  </div>
                </div>  
            </div>         
         </div>
         <div class="nav_c_z">
            <div class="nav_c_c">
               <div class="chart1">
                  <p>25,120</p>
                 <chart />
                 
               </div>
               
            </div> 
         </div>
         <div class="nav_c_z">
            <div class="nav_c_c">
               <div class="chart1">
                  <p>1827</p>
                 <chartcopy />
                 
               </div>
            </div> 
         </div>  
        </div>
      </div>
      <div class="caidan shadow">
         <div>
            <i class="el-icon-s-cooperation"></i>
            <span>菜单名称</span>
         </div>
         <div class="caidan_">
            <div class="caidan_a">
                <div><i class="el-icon-question"></i></div>
                <div>
                  <p>待处理任务</p>
                  <span>您还有10个任务没有完成 , <a>点击去处理</a></span>
                </div>
            </div>
            <div class="caidan_a">
                <div><i class="el-icon-success"></i></div>
                <div>
                  <p>登录日志</p>
                  <span>该账号在2021-12-12 12:12登录成功</span>
                </div>
            </div>
         </div>
      </div>
      <div class="caozuo shadow">
         <div></div>
      </div>
      <div class="table shadow">
         <div>
            <i class="el-icon-s-cooperation"></i>
            <span>菜单名称</span>
         </div>
         <div class="tab">
            <!-- 表格 -->
            <el-table   v-loading="loading" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" >
                  <el-table-column prop="date" label="日期" width="180" sortable>
                  </el-table-column>
                  <el-table-column prop="name" label="姓名" width="180" sortable>
                  </el-table-column>
                  <el-table-column prop="address" label="地址" sortable>
                  </el-table-column>
                  <el-table-column prop="bt1" label="标题" sortable>
                  </el-table-column>
                  <el-table-column prop="bt2" label="标题" sortable>
                  </el-table-column>
                  <el-table-column prop="bt3" label="标题" sortable>
                  </el-table-column>
            </el-table>
            <!-- 分页器 -->
            <div class="block" style="margin-top:15px;">
                  <el-pagination align='center' @size-change="handleSizeChange" @current-change="handleCurrentChange" 
                  :current-page="currentPage" 
                  :page-sizes="[1,5,10,20]" 
                  :page-size="pageSize" 
                  layout="total, sizes, prev, pager, next, jumper" 
                  :total="tableData.length">
                  </el-pagination>
            </div>
    </div>

      </div>
   </div>
</template>

<script>
import chart from "@/components/chart.vue"
import chartcopy from "@/components/chartcopy.vue"
export default {
   components:{chart,chartcopy},
          data() {
                return {
                    tableData: [
                        {
                            date: "2016-05-02",
                            name: "第一页",
                            address: "上海市普陀区金沙江路 1518 弄",
                            bt1:"文本内容",
                            bt2:"文本内容",
                            bt3:"文本内容",
                        },
                        {
                            date: "2016-05-04",
                            name: "第二页",
                            address: "上海市普陀区金沙江路 1517 弄",
                            bt1:"文本内容",
                            bt2:"文本内容",
                            bt3:"文本内容",
                        },
                        {
                            date: "2016-05-01",
                            name: "第三页",
                            address: "上海市普陀区金沙江路 1519 弄",
                            bt1:"文本内容",
                            bt2:"文本内容",
                            bt3:"文本内容",
                        },
                        {
                            date: "2016-05-03",
                            name: "第四页",
                            address: "上海市普陀区金沙江路 1516 弄",
                            bt1:"文本内容",
                            bt2:"文本内容",
                            bt3:"文本内容",
                        },
                        {
                            date: "2016-05-01",
                            name: "第五页",
                            address: "上海市普陀区金沙江路 1519 弄",
                            bt1:"文本内容",
                            bt2:"文本内容",
                            bt3:"文本内容",
                        },
                        {
                            date: "2016-05-03",
                            name: "第六页",
                            address: "上海市普陀区金沙江路 1516 弄",
                            bt1:"文本内容",
                            bt2:"文本内容",
                            bt3:"文本内容",
                        },
                    ],
                    loading: false,
                    currentPage: 1, // 当前页码
                    total: 20, // 总条数
                    pageSize: 3 // 每页的数据条数
                };
            },
            methods: {
                //每页条数改变时触发 选择一页显示多少行
                handleSizeChange(val) {
                    console.log(`每页 ${val} 条`);
                    this.currentPage = 1;
                    this.pageSize = val;
                },
                //当前页改变时触发 跳转其他页
                handleCurrentChange(val) {
                    console.log(`当前页: ${val}`);
                    this.currentPage = val;
                }
            }
        };
</script>

<style lang="scss" scoped>
.home{
  width: 98%;
  height: 100%;
  margin: 0 auto;

}
P{
     /** 文本1 */
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0px;
      line-height: 22px;
      color: rgba(0, 0, 0, 1);
      text-align: left;
      vertical-align: top;
   }
.navsj{
   width: 100%;
   height: 26%;
   margin-bottom: 20px;
   
   .nav_c{
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items:center;
      .nav_c_z:nth-child(2){
         margin: 0 20px;
      }
      .nav_c_z{
         flex: 1; 
         width: 360px;
         height: 195px;
         opacity: 1;
         border-radius: 4px;
         background: rgba(255, 255, 255, 1);
         box-shadow: 2px 2px 10px 0px rgba(218, 224, 230, 1);
         
      }
      .nav_c_z:nth-child(1){
         background: linear-gradient(161.57deg, rgba(26, 130, 242, 1) 0%, rgba(77, 201, 255, 1) 100%);
      }
     .nav_c_c{
      width: 90%;
      height: 80%;
      margin: 20px auto;
      // border: 1px solid;
         div{
               /** 文本1 */
               font-size: 14px;
               font-weight: 400;
               letter-spacing: 0px;
               line-height: 22px;
               color: rgba(255, 255, 255, 1);
               text-align: left;
               vertical-align: top
            }
            
         .nav_c_b{
            width: 100%;
            height: 70%;
            margin-top:20px;
            // border: 1px solid;
            position: relative;
            div{
               position: absolute;
            }
            div:nth-child(1){
              width: 70%;
              height: 100%;
            //   border: 1px solid;
              left: 0;
              li{
               flex: 1;
               width: 100%;
               height: 33%;
               // border: 1px solid;
               list-style: none;
                 span:nth-child(1){
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        background: rgba(255, 255, 255, 0.3);
                        border-radius:50%;
                        i{
                           // line-height: 30px;
                           display: inline-block;
                           margin: 6px;
                           font-size: 18px;
                        }
                  }
                  span:nth-child(2){
                     display: inline-block;
                       margin: 7px 15px;
                  }
                  p{
                     display: inline-block;
                     line-height: 32px;
                     color: #fff;
                  }
              }
              
            }
            div:nth-child(2){
              width: 30%;
              height: 100%;
            //   border: 1px solid;
              right: 0;
              i{
                display: inline-block;
               font-size:120px;
              }
            }
         }
         .chart1{
               width: 100px;
               height: 100px;
               p{
                  float: left;
                  margin: 30px 7px;
               }
         }   
     }
     
   }
}
.caidan{
   width: 100%;
   height: 15%;
   margin-bottom: 20px;
   background-color: #fff;
   div:nth-child(1){
      letter-spacing: 0px;
      line-height: 30px;
      text-align: left;
      vertical-align: top;
      margin-left:15px ;
      i{
         color: #096dd9;
      }
   }
  .caidan_{
      width: 98%;
      height: 60%;
      // border: 1px solid;
      margin:5px auto;
      display: flex;
      justify-content: center;
      flex-wrap:nowrap ;
     .caidan_a{
         flex: 1;
         border: 1px solid rgb(219, 219, 219);
         border-radius: 4px;
         margin:0 12px 0 0;
         
      }
     .caidan_a:nth-child(1){     
         div:nth-child(1){
            width: 40px;
            height: 40px;
            opacity: 1;
            border-radius: 100px;
            background: rgba(30, 130, 238, 1);
            box-shadow: 0px 4px 4px 0px rgba(42, 90, 251, 0.2); 
            display: inline-block;
            margin:15px;
            text-align: center;
            line-height: 40px;
             i{
               width: 14px;
               height: 14px;
               opacity: 1;
               color: #Fff;
             }
         }
         div:nth-child(2){
            display: inline-block;
            margin:10px 0 0 0;
            p{
              /** 文本1 */
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0px;
            line-height: 22px;
            color: rgba(0, 0, 0, 1);
            text-align: left;
            vertical-align: top;
            }
            span{
               /** 文本1 */
               font-size: 12px;
               font-weight: 400;
               letter-spacing: 0px;
               line-height: 22px;
               color: rgba(85, 85, 85, 1);
               a{
                  /** 文本2 */
               font-size: 12px;
               font-weight: 400;
               letter-spacing: 0px;
               line-height: 33px;
               color: rgba(39, 93, 233, 1);
               text-align: left;
               vertical-align: top;
               }
            }
         }
      }
      .caidan_a:nth-child(2){
         div:nth-child(1){
            width: 40px;
            height: 40px;
            opacity: 1;
            border-radius: 100px;
            background: rgba(98, 74, 243, 1);
            box-shadow: 0px 4px 4px 0px rgba(42, 90, 251, 0.2);
            margin: 13px;
            text-align: center;
            line-height: 40px;
            float: left;
             i{
               width: 14px;
               height: 14px;
               opacity: 1;
               color: #Fff;
             }
         }
       div:nth-child(2){
            width: 200px;
            height: 47px;
            position: relative;
            left: 70px;
            top: 9px;
            p{
              /** 文本1 */
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0px;
            line-height: 22px;
            color: rgba(0, 0, 0, 1);
            text-align: left;
            vertical-align: top;
            position: absolute;
            top: 0;left: 0;
            }
            span{
              
               /** 文本1 */
               bottom: 0;
               position: absolute;
               left: 0;
               font-size: 12px;
               font-weight: 400;
               letter-spacing: 0px;
               line-height: 22px;
               color: rgba(85, 85, 85, 1);
               a{
                  /** 文本2 */
                  bottom: 0;
                  position: absolute;
                  left: 0;
                  font-size: 12px;
                  font-weight: 400;
                  letter-spacing: 0px;
                  line-height: 22px;
                  color: #555555;
               }
            }
         }
      }
   }
   
}
.caozuo{
   width: 100%;
   height: 12%;
   // box-shadow: 2px 2px 10px 0px rgba(218, 224, 230, 1);
   margin-bottom: 20px;
  div{
   width: 100%;
   height: 100%;
   background-image:url(../image/02.png);
   background-size: 100% 150%;
    background-position: 0px -22px;
  }

}
.table{
   width: 100%;
   height:36%;
   background: #fff;
   div:nth-child(1){
      letter-spacing: 0px;
      line-height: 30px;
      text-align: left;
      vertical-align: top;
      margin-left:15px ;
      i{
         color: #096dd9;
      }
   }
   .tab{
      width: 97%;
      height:87%;
      // border: 1px solid;
      margin: 3px 0;
      position: relative;
      .el-table{
         border: 1px solid #eee;
         border-radius: 5px;
         position: absolute;
         top:0;
      }
      div{
         position: absolute;
         bottom: 3px;
      }
   }
}
.shadow{
   box-shadow: 2px 2px 10px 0px rgba(218, 224, 230, 1);
}
</style>