<template>
  <div class="main">
    <div id="main" style="width: 600px;height:180px;">
    </div>
  </div>
</template>
<script>
import * as echarts from 'echarts';
export default{
    data(){
        return{
            myChart:'',
        }
    },
    methods:{
        // 基于准备好的dom，初始化echarts实例
        MyChart(){
            
            // 绘制图表
            this.myChart.setOption({
            title: {
                text: '其他数据分析'
            },
            series: [
    {
      name: 'Nightingale Chart',
      type: 'pie',
      radius: [20, 60],
      center: ['50%', '50%'],
      roseType: 'area',
      itemStyle: {
        borderRadius: 0
      },
      data: [
        { value: 40, name: '● A类 40' },
        { value: 38, name: '● B类 38' },
        { value: 32, name: '● C类 32' },
        { value: 30, name: '● D类 30' },
        { value: 28, name: '● E类 28' },
        { value: 26, name: '● F类 26' },
        { value: 22, name: '● G类 22' },
        { value: 18, name: '● H类 18' }
      ]
    }
  ]
            });
        }
       
   },
    mounted(){
        this.myChart = echarts.init(document.getElementById('main'));
        this.MyChart()       
    }
}
</script>

