<template>
  <div class="mains">
    <div id="mains" style="width: 600px;height:160px;"></div>
  </div>
</template>
<script>
import * as echarts from 'echarts';
export default{
    data(){
        return{
            myChart:'',
        }
    },
    methods:{
        // 基于准备好的dom，初始化echarts实例
        MyChart(){
            
            // 绘制图表
            this.myChart.setOption({
            title: {
                text: '企业总数'
            },
            angleAxis: {},
            radiusAxis: {
              type: 'category',
              data: ['Mon', 'Tue', 'Wed', 'Thu'],
              z: 10
            },
            polar: {},
            series: [
              {
                type: 'bar',
                data: [1, 2, 3, 4],
                coordinateSystem: 'polar',
                name: 'A',
                stack: 'a',
                emphasis: {
                  focus: 'series'
                }
              },
              {
                type: 'bar',
                data: [2, 4, 6, 8],
                coordinateSystem: 'polar',
                name: 'B',
                stack: 'a',
                emphasis: {
                  focus: 'series'
                }
              },
              {
                type: 'bar',
                data: [1, 2, 3, 4],
                coordinateSystem: 'polar',
                name: 'C',
                stack: 'a',
                emphasis: {
                  focus: 'series'
                }
              }
            ],
            legend: {
              show: true,
              data: ['A', 'B', 'C']
            }
            });
        }
       
   },
    mounted(){
        this.myChart = echarts.init(document.getElementById('mains'));
        this.MyChart()       
    }
}
</script>
