<template>
  <div id="app">
    <el-container>
      <el-aside style="width: none;">
          <el-menu default-active="1-4-1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" :collapse="isCollapse">
            <el-menu-item class="loge" >
              <div> <i class="el-icons"></i>
              <span slot="title">后台管理系统</span></div>
             
            </el-menu-item>
            <el-menu-item index="1">
              <i class="el-icon-s-home"></i>
              <span slot="title">
                <router-link  to="/" tag="span">首页</router-link>
              </span>
            </el-menu-item>
            
            <el-menu-item index="2">
              <i class="el-icon-s-cooperation"></i>
              <span slot="title">
                <router-link to="/about" tag="span">地图模块</router-link>
              </span>
            </el-menu-item>
           
         
            <el-submenu index="3">
              <template slot="title">
                <i class="el-icon-s-management"></i>
                <span slot="title">企业基因</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="3-1">企业基因基本信息</el-menu-item>
                <el-menu-item index="3-2">企业基因详细信息</el-menu-item>
              </el-menu-item-group>
            </el-submenu>

            <el-submenu index="4">
              <template slot="title">
                <i class="el-icon-s-claim"></i>
                <span slot="title">信息查询</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="4-1">信息基本信息</el-menu-item>
                <el-menu-item index="4-2">信息详细信息</el-menu-item>
              </el-menu-item-group>
            </el-submenu>

            <el-submenu index="5">
              <template slot="title">
                <i class="el-icon-location"></i>
                <span slot="title">企业管理</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="5-1">企业基本信息</el-menu-item>
                <el-menu-item index="5-2">企业详细信息</el-menu-item>
              </el-menu-item-group>
            </el-submenu>

            <el-submenu index="6">
              <template slot="title">
                <i class="el-icon-s-order"></i>
                <span slot="title">数据分析</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="6-1">数据基本信息</el-menu-item>
                <el-menu-item index="6-2">数据详细信息</el-menu-item>
              </el-menu-item-group>
            </el-submenu>
           
            <el-submenu index="7">
              <template slot="title">
                <i class="el-icon-s-help"></i>
                <span slot="title">大屏</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="7-1">大屏信息1</el-menu-item>
                <el-menu-item index="7-2">大屏信息2</el-menu-item>
              </el-menu-item-group>
            </el-submenu>

            <el-menu-item index="8">
              <i class="el-icon-s-ticket"></i>
              <span slot="title">数据库</span>
            </el-menu-item>
            
            <el-submenu index="9">
              <template slot="title">
                <i class="el-icon-s-tools"></i>
                <span slot="title">系统设置</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="9-1">系统设置1</el-menu-item>
                <el-menu-item index="9-2">系统设置2</el-menu-item>
              </el-menu-item-group>
            </el-submenu>

          
          </el-menu>
        </el-aside>
      <el-container class="body_">
        <el-header style="height: 55px;margin: 0;padding: 0;">
          <div class="header-lv">
            <div class="isCollapses" @click="isCollapses">
            <i class="el-icon-s-unfold"></i>
            <span>首页</span>
            <span class="huise_">/</span>
            <span class="huise_">数据中控台</span>
            </div>
          </div>
          <div class="header-rg">
            <i class="el-icon-s-custom"></i>
            <span>管理员</span>
            <i class="el-icon-caret-bottom"></i>
          </div>
        </el-header>
        <el-main>
          <router-view />
        </el-main>
        <el-footer style="height: 88px;">
          <el-divider></el-divider>
          <div class="text_f">
             <div>系统版权文字</div>
             <div>Copyright © 2010 - 2021         皖ICP备111111111111111111号-1</div>
          </div>
        </el-footer>
      </el-container>
    </el-container>
 
  </div>
    
</template>
<script>
 
 export default {
    data() {
      return {
        isCollapse: false
      };
    },
    methods: {
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      },
      isCollapses(){
        this.isCollapse = !this.isCollapse
      }
    }
  }
</script>
<style lang="scss">
  *{
    margin: 0;
    padding: 0;
  }
  html,body{
    font-family:"微软雅黑";
    font-weight: 500;
  }
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width:240px;
    min-height: 400px;
  }
  .body_{
  height: 100vh;
  }
  .el-menu{
    background: rgba(0, 21, 41, 1)!important;
  }
  .el-header{
    background-color: #fff;
    color: #333;
    text-align: center;
    line-height: 60px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
    .el-footer{
      background: rgba(240, 243, 247, 1);
    color: #333;
    text-align: center;
     .el-divider{
      margin: 0;
     }
     .text_f{
      margin: 16px auto;
      font-size: 12px;
      width: 385px;
      height: 60px; 
      text-align: center;
      color: rgba(168, 171, 179, 1);
      >div{
        line-height: 25px;
      }
     }
    }
  .el-header{
    position: relative;
    .header-lv{
      position: absolute;
      left: 5px;
      width: 200px;
      height: 100%;
      // background-color: red;
      >i,span{
        margin: 0 7px;
      }
      >i{
        font-size: 22px;
      }
      .huise_{
        color: rgba(96, 98, 102, 1);
      }
    }
    .header-rg{
      position: absolute; 
      right:5px;
      width: 140px;
      height: 100%;
      // background-color: red;
      >i:nth-child(1){
        font-size: 22px;
        color: #096dd9;
      }
      >i,span{
        color: rgba(102, 102, 102, 1);
        margin: 0 5px;
      }
    }
  }

  .el-aside {
    background: rgba(0, 21, 41, 1);
    color: #333;
    line-height: 200px;
  }
  .el-aside::-webkit-scrollbar {

display: none;

}
.el-main::-webkit-scrollbar {

display: none;

}
  li.el-menu-item{
    color: #fff ;
  }

  .el-menu>.el-menu-item:hover{
    background: rgba(2, 33, 63, 1);
  }
  .el-menu>.loge:hover{
    background: rgba(9, 109, 217, 1);
  }
  .el-menu-item-group>ul>li:hover{
    
    background: rgba(5, 47, 88, 1);
  }
  .el-submenu>.el-submenu__title:hover{
    background: rgba(2, 33, 63, 1);
  }
  .el-submenu__title>span{
    color: #fff;
  }
  .el-submenu__title i{
    color: #fff;
  }

  /* 导航栏点击后,左边的颜色设置 */
  .el-menu-item.is-active{
  border-left: solid 3px #26a1fa;
  }
  .el-menu-item.is-active {
    color: #0c68c8;
}
  .el-main {
    background: rgba(240, 243, 247, 1);
    color: #333;
    text-align: center;
    line-height: 160px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .el-icons{
    display: inline-block ;
    width: 32px;
    height: 32px;
    /* vertical-align: middle; */
    margin-right: 5px;
    text-align: center;
    font-size: 18px;
    /* opacity: 1; */
    background: url("../src/image/03.png") no-repeat;
    background-size:100% 100%;
  }
  .loge>div{
    width: 144px;
    height: 100%;
    margin: 0 auto;
  }
  .loge>div>span{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    /* line-height: 0px; */
    color: rgba(255, 255, 255,  1);
    text-align: left;
    vertical-align: top;
  }
  .loge{
    background: rgba(9, 109, 217, 1);
  }
  // .router{
  //   color: #fff;

  // }
</style>
